* {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 150px);
  }

.customLink {
  color: rgb(176, 141, 226);
}

.experienceCompany {
  font-weight: 600;
  font-size: x-large;
  float: left;
}

.experienceDescription {
  float: left;
  margin-left: 20px;
  max-width: 700px;
  padding-top: 10px;
}

.experienceRole {
  font-weight: 600;
  float: left;
}

.experienceTime {
  font-style: italic;
  float: right;
}

.footer {
  align-items: center;
  background-color: rgb(4, 4, 4);
  display: flex;
  justify-content: center;
  height: 150px;
  color: aliceblue;
}

.gradient {
  color: inherit;
  background-image: radial-gradient(
      circle at 24% 61%,
      hsla(247.5, 100%, 85.88%, 0.5236846413915921) 24%,
      #0055ffd6 100%
    ),
    repeating-conic-gradient(
      from 360deg at 59% 59%,
      #9900ff4a 20%,
      hsla(40.18, 100%, 50%, 0.78) 81%
    ),
    radial-gradient(
      circle at 51% 54%,
      hsla(296, 100%, 58.61%, 0.55) 65%,
      #ff950061 80%
    ),
    repeating-conic-gradient(
      from 4deg at 53% 22%,
      hsla(159.38, 54.24%, 23.14%, 0) 25%,
      hsl(312, 73.9%, 70.82%) 63%
    ),
    repeating-linear-gradient(
      19deg,
      #7c54dbf7 22%,
      hsla(41.01, 88.44%, 44.12%, 0.6418138379229426) 46%
    ),
    conic-gradient(
      from 25deg at 88% 10%,
      #3a3804 100%,
      hsl(284, 100%, 50%) 100%
    );
}

.maindiv {
  min-height: 100vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vw;
  padding-top: 5vw;
  color: rgb(231, 246, 242);
}

.maindivNavbar {
  background: rgba( 255, 255, 255, 0.01 );
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;

  /* This controls the blurring effect*/
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );

  /*Adding the shadow*/
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );

  /* Adding our borders*/
  border-radius: 30px;
  border: 1px solid rgba( 255, 255, 255, 0.05 );
  z-index: 4;
}

.navbarButton {
  color: rgb(231, 246, 242);
  font-size: large;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  transition: transform 0.2s, color 0.2s, ease-out 0.2s;
}

.navbarButton:hover {
  color: rgb(239, 125, 148);
  transform: scale(1.2)
}

.navbarButton:focus {
  border-radius: 30px;
  color: aqua;
}

.photo {
  height: 60px;
  width: 60px;
}

.projectDescription {
  float: left;
  max-width: 700px;
  padding-top: 10px;
}

.row {
  display: flex;
}

.screenshot {
  max-height: 60vh;
}

.shieldrow {
  display: inline-block;
}

/*TO DIVIDE THE SCREEN IN HALF*/
.splitScreen {
  display: grid;
  grid-template-columns: auto auto;  /* grid has two columns; content defines width */
  justify-content: space-between;    /* horizontal alignment of grid tracks */
  align-items: center;
}

.leftSide {
  grid-column: 1;
  grid-row: 1;
}

.rightSide {
  grid-column: 2;
  grid-row: 1;
}
/*-----------------*/

.swiftText {
  color: rgb(239, 125, 148);
  font-weight: 600;
}

.container {
  max-width: 700px!important;
}

/*FOR TEXT ANIMATION*/
.spoiler {
  color: transparent;
  background-position: right;
  background-size: 100% 100%;
  background-image: linear-gradient(#a0aec0, #a0aec0);
  display: inline;
  background-repeat: no-repeat;
  transition: all 500ms ease-out;
  animation-delay: 1s;
}
.spoiler:hover {
  color: #000;
  background-size: 0% 100%;
}
/*-----------------*/

.swipedownText {
  font-size: 2vw;
  text-decoration: none;
  color: rgb(231, 246, 242);
  transition: color 0.2s, ease-out 0.2s;
}

.swipedownText:hover {
  color: rgb(165, 201, 202);
}

.welcomeBackground {
  display: flex;
}

.welcomeTextBackground {
  align-items: center;
}

.welcomeText {
  background-color: rgb(44, 44, 44);
  min-width: 30vw;
  font-size: 4vw;
  padding: 20px;
}