* {
  font-family: 'Poppins', sans-serif;
}

.experienceCompany {
  font-weight: 600;
  font-size: x-large;
  float: left;
}

.experienceDescription {
  float: left;
  margin-left: 20px;
  max-width: 700px;
  padding-top: 10px;
}

.experienceRole {
  font-weight: 600;
  float: left;
}

.experienceTime {
  font-style: italic;
  float: right;
}

.footer {
  align-items: center;
  background-color: rgb(209, 211, 215);
  display: flex;
  justify-content: center;
  height: 150px;
}

.footerlink {
  color: darkblue;
}

.maindiv {
  min-height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.navbarButton {
  color: darkblue;
  font-size: medium;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  transition: transform 0.2s, color 0.2s, ease-out 0.2s;
}

.navbarButton:hover {
  transform: scale(1.2)
}

.navbarButton:focus {
  border-radius: 30px;
  background-color: gainsboro;
}

.photo {
  height: 60px;
  width: 60px;
}

.row {
  display: flex;
}

.shieldrow {
  display: inline-block;
}

.swiftText {
  color: crimson;
  font-weight: 600;
}